@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d9d9d9;
}

h1 {
  font-size: 1.6em;
  font-weight: 900;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

.upload-container {
  position: relative;
  width: 70%;
  height: 15rem;
  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.upload-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/icons/photo-upload.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.upload-box:hover {
  border-color: #a3a3a3;
}

::-webkit-scrollbar {
  display: none;
}

.status-label {
  width: fit-content;
  padding: 2px 7px;
  font-weight: bold;
  margin-bottom: 5px;
  border-radius: 8px;
}

.status-waiting {
  @apply bg-status-wait;
}

.status-transfer_intent {
  @apply bg-status-ing;
}

.status-transfer_pending {
  @apply bg-status-ing;
}

.status-transfer_complete {
  @apply bg-status-done;
}

.status-response_waiting {
  @apply bg-status-wait;
}

.status-in_transaction {
  @apply bg-status-ing;
}

.status-transaction_complete {
  @apply bg-status-done;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px 13px;
  margin-bottom: 10px;
}

.ticket-view {
  font-weight: bold;
  padding: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.ticket-button {
  @apply bg-semi-dark-button;
  padding: 0.5em 0.7em;
  margin-top: 6px;
  border-radius: 10px;
  font-size: 0.9em;
}

.ticket-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
